.App {
  text-align: center;
  font-size: 18px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: start;


}

.nav-bar ul a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 300%;
}

.active {
  color: #ee6622;
  font-weight: bold;
}